@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
  background-image: url('fuel-404-logo.png');
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 500px;
  background-color: #340030;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  text-align: top;
  margin: 50px;
}
